<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDG20R8i1CovXNDxBuuhJI1Z7MUtoQSe94</string>
	<key>GCM_SENDER_ID</key>
	<string>359179567065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.currencee.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>currencee-df19f</string>
	<key>STORAGE_BUCKET</key>
	<string>currencee-df19f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359179567065:ios:d4df6880ccfc22b493a3c8</string>
</dict>
</plist>